@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/arvo-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Arvo'),
       url('./fonts/arvo-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/arvo-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/arvo-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/arvo-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/arvo-v13-latin-regular.svg#Arvo') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/open-sans-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('./fonts/open-sans-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/open-sans-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/open-sans-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/open-sans-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/open-sans-v17-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/***********
  VARIABLES
 ***********/

 :root {
    /* screen width breakpoints */
    --container-width-1024: 960px;
    --container-width-680: 630px;
    --container-width-320: 100%;

    /* colors */
    --primary-color: #8940D3;
    --primary-light-accent-color: #9952e0;
    --dark-gray-color: #242424;
    --gray-color: rgb(126, 126, 126);
    --light-gray-color: lightgray;
    --white-color: white;
    --black-color: black;
    --transparent-black-color: rgba(1, 1, 1, 0.8);
    --light-transparent-black-color: rgba(1, 1, 1, 0.25);

    /* fonts */
    --header-font: 'Arvo', serif;
    --body-font: 'Open Sans', sans-serif;

    /* transitions */
    --medium-transition: 0.5s ease-in-out;
    --fast-transition: 0.2s ease-in-out;

    /* theme colors */
    --button-color: var(--white-color);
    --button-background-color: var(--primary-color);
    --button-hover-background-color: var(--primary-light-accent-color);
    --hero-color: var(--white-color);
    --hero-background-color: var(--primary-light-accent-color);
    --nav-color: var(--white-color);
    --nav-hover-color: var(--light-gray-color);
    --nav-scrolled-color: var(--black-color);
    --nav-scrolled-hover-color: var(--primary-color);
    --nav-background-color: transparent;
    --nav-scrolled-background-color: var(--white-color);
    --nav-scrolled-border-bottom: 0.05rem solid var(--gray-color);
    --footer-color: var(--white-color);
    --footer-background-color: var(--dark-gray-color);
    --footer-end-background-color: var(--black-color);

    /* theme heights */
    --nav-height: 5rem;
    --no-script-nav-contents-height: 6rem;
  }

  /**************
    BASIC STYLES
   **************/

  *,
  *>* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 12px;
  }

  body {
    font-family: var(--body-font);
  }

  h1,
  h2,
  h3 {
    text-align: center;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    font-family: var(--header-font);
  }

  h2 {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.15rem;
    margin-bottom: 1rem;
  }

  h3 {
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 0.8rem;
  }

  a {
    cursor: pointer;
    text-decoration: none;
    color: var(--white-color);
    transition: color var(--fast-transition)!important;
  }

  p {
    font-size: 1.3rem;
    line-height: 2rem;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  input,
  button {
    border-radius: 0.4rem;
    font-size: 1rem;
    padding: 0.4rem 1rem;
    width: 100%;
    height: 100%;
    outline: none;
    border: 0;
  }

  button {
    cursor: pointer;
    color: var(--button-color);
    background-color: var(--button-background-color);
    transition: background-color var(--fast-transition);
  }

  button:hover {
    background-color: var(--button-hover-background-color);
  }

  form {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  form>*:not(:last-child) {
    margin-bottom: 1rem;
  }

  ul {
    list-style: none;
  }

  i.fab,
  i.fa {
    font-size: 3rem;
  }

  .icons {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }

  .icons i {
    margin: 0 1rem;
  }

  .icons a:first-child i {
    margin-left: 0;
  }

  .icons a:last-child i {
    margin-right: 0;
  }

  .vert-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .mobile-center-links {
    display: flex;
    flex-direction: column;
  }

  .mobile-center-links > a {
    text-align: center;
  }

  .person-title {
    margin-bottom: 0.8rem;
    opacity: 0.7;
    font-size: 1.5rem;
  }

  a.hover-link:hover {
    transition: color var(--fast-transition);
    color: var(--primary-light-accent-color);
    cursor: pointer;
  }

  img.partner-logo {
    filter: grayscale(100%) brightness(3);
    height: 3rem;
    padding: 0 1rem;
  }

  img.two-panel {
    object-fit: cover;
  }

  @media screen and (min-width: 680px) {
    html {
      font-size: 16px;
    }

    h1,
    h2,
    h3 {
      text-align: left;
    }

    h3 {
      font-size: 1.4rem;
    }

    img.two-panel {
      padding: 0;
      max-width: 50%;
      max-height: 50%;
      /* margin: auto 0 !important; */
    }

    footer>.end {
      padding-left: calc((100% - var(--container-width-680)) / 2);
      padding-right: calc((100% - var(--container-width-680)) / 2);
    }

    p {
      font-size: 1rem;
    }

    i.fab,
    i.fa {
      font-size: 1.8rem;
    }

    .icons {
      justify-content: start;
    }

    .icons i {
      margin: 0 0.5rem;
    }

    .mobile-center-links {
      display: block;
    }

    .person-title {
      font-size: 1.1rem;
    }
  }

  @media screen and (min-width : 1024px) {

    footer>.end {
      padding-left: calc((100% - var(--container-width-1024)) / 2);
      padding-right: calc((100% - var(--container-width-1024)) / 2);
    }
  }


  /************
    NAV STYLES
   ************/

  nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 100%;
    z-index: 10;
    height: var(--nav-height);
    border: 0;
    transition: background-color var(--fast-transition), border var(--fast-transition);
    background-color: var(--nav-background-color);
  }

  nav>.nav-contents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
    width: 100%;
    height: 100%;
  }

  nav>.nav-contents li {
    padding: 1rem;
    width: 100vw;
    text-align: right;
  }

  nav>.nav-contents ul {
    max-height: 0;
    flex-direction: row;
    position: absolute;
    right: 0;
    overflow: hidden;
    user-select: none;
    backdrop-filter: blur(4px);
    top: var(--nav-height);
    background-color: var(--transparent-black-color);
    height: calc(100vh - var(--nav-height));
    transition: max-height var(--fast-transition);
  }

  nav>.nav-contents>ul>li>a,
  nav>.nav-contents .company-name>a {
    display: block;
    transition: color var(--fast-transition);
    color: var(--nav-color);
  }

  nav>.nav-contents>ul>li>a:hover,
  nav>.nav-contents .company-name>a:hover {
    color: lightgray;
  }

  nav>.nav-contents>ul>li>a {
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 0.03rem;
  }

  nav>.nav-contents>.company-name>a {
    font-size: 1.75rem;
    letter-spacing: 0.07rem;
    font-weight: 500;
    font-family: var(--header-font);
  }

  /* MOBILE MENU */

  nav>.nav-contents.contents-visible>.nav-mobile-menu-button {
    border: 0.2rem solid var(--nav-color);
    border-radius: 1rem;
  }

  nav>.nav-contents.contents-visible>ul {
    max-height: calc(100vh - var(--nav-height));
  }

  nav>.nav-contents>.nav-mobile-menu-button {
    margin-right: -0.5rem;
    height: 3.5rem;
    width: 3.5rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--nav-color);
    transition: border var(--fast-transition);
  }

  /* SCROLL STYLES */

  nav.navbar-scrolled {
    background-color: var(--nav-scrolled-background-color);
  }

  nav.navbar-scrolled>.nav-contents>.company-name>a,
  nav.navbar-scrolled>.nav-contents>.nav-mobile-menu-button {
    color: var(--nav-scrolled-color);
  }

  nav.navbar-scrolled>.nav-contents>ul>li>a:hover,
  nav.navbar-scrolled>.nav-contents .company-name>a:hover {
    color: var(--nav-scrolled-hover-color);
  }


  nav.navbar-scrolled>.nav-contents.contents-visible>.nav-mobile-menu-button {
    border: 0.2rem solid var(--nav-scrolled-color);
  }

  nav.navbar-scrolled>.nav-contents>ul>li>a.selected {
    color: var(--primary-color);
  }

  nav.navbar-scrolled {
    border-bottom: var(--nav-scrolled-border-bottom);
  }

  /* VIEWPORT STYLES */

  @media screen and (min-width: 680px) {
    /* DESKTOP STYLES */

    nav>.nav-contents>ul {
      position: relative;
      flex-direction: row;
      height: auto;
      top: auto;
      background-color: transparent;
      justify-content: flex-end;
      max-height: 100%;
      display: flex;
      backdrop-filter: blur(0);
    }

    nav>.nav-contents>.nav-mobile-menu-button {
      display: none !important;
    }

    nav>.nav-contents>ul>li {
      width: auto;
    }

    nav>.nav-contents>ul>li>a {
      font-size: 1rem;
    }

    nav.navbar-scrolled>.nav-contents>ul>li>a {
      color: var(--nav-scrolled-color);
    }

    nav.navbar-scrolled>.nav-contents>ul>li {
      color: var(--white-color);
    }

    /* WIDTH */

    nav>.nav-contents {
      width: var(--container-width-680);
    }

    @media screen and (min-width : 1024px) {
      /* WIDTH */

      nav>.nav-contents {
        width: var(--container-width-1024);
      }
    }
  }

  /****************
    SECTION STYLES
   ****************/

  section {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 1.7rem;
    padding-bottom: 0;
  }

  section>* {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  section>h1.title {
    font-weight: 400;
    width: 100%;
    text-align: center;
  }

  section>h1.title::after {
    bottom: -10px;
    content: '';
    display: block;
    margin: 0 auto;
    height: 5px;
    position: relative;
    width: 7rem;
    background: none repeat scroll 0 0 var(--primary-color);
  }

  /* SECTION SCROLL ANCHOR */

  section>a[id] {
    position: absolute;
    top: calc(-1 * var(--nav-height) + 0.5rem);
    visibility: hidden;
  }

  /* SECTION SUBTYPE STYLES */

  section.hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: var(--nav-height);
    background-color: var(--primary-light-accent-color);

  }

  section.hero>.hero-card {
    margin-top: -5rem;
    padding: 2rem;
    color: var(--hero-color);
  }

  section.hero>.hero-card>h2 {
    margin-bottom: 3rem;
  }

  section.hero>.hero-bottom-content {
    position: absolute;
    bottom: 0;
    height: 8rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--hero-color);
    background-color: var(--light-transparent-black-color);
    font-size: 1.2rem;
  }

  section.hero>.hero-bottom-content > a:hover {
    color: var(--nav-hover-color);
  }

  section.divider {
    width: 100%;
    padding: 8rem 0;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    align-items: center;
  }

  section.divider:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: -1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  section.divider > .row {
    margin-bottom: 0;
  }

  section.divider > .row > * {
    text-align: center;
    color: var(--white-color);
    font-size: 2.5rem;
    backdrop-filter: blur(4px) brightness(0.9);
    padding: 2rem;
  }

  section.divider.first:after {
    background-image: url(../img/sa-asia-divider-bg.jpg);
  }

  section.divider.second:after {
    background-image: url(../img/modern-classroom-divider-bg.jpg);
  }

  /* VIEWPORT STYLES */

  @media screen and (min-width: 680px) {
    /* DESKTOP STYLES */

    section>h1.title {
      text-align: left;
      padding: 1rem 0;
    }

    section>h1.title::after {
      margin: 0;
    }

    section {
      padding-bottom: 4rem;
    }

    /* SECTION SUBTYPE STYLES */

    section.hero,
    section.divider {
      padding-left: calc((100% - var(--container-width-680)) / 2);
      padding-right: calc((100% - var(--container-width-680)) / 2);
    }

    section.hero>.hero-card {
      justify-self: left;
    }

    section.hero>.hero-card>h2 {
      text-align: center;
      margin-bottom: 1.5rem;
    }

    section.divider > .row > * {
      font-size: 3rem;
    }

    /* WIDTH */

    section {
      flex-direction: row;
      width: var(--container-width-680);
    }
  }

  @media screen and (min-width : 1024px) {
    /* WIDTH */

    section {
      width: var(--container-width-1024);
    }

    section.hero,
    section.divider {
      padding-left: calc((100% - var(--container-width-1024)) / 2);
      padding-right: calc((100% - var(--container-width-1024)) / 2);
    }
  }

  /***************
    FOOTER STYLES
   ***************/

  footer {
    position: relative;
    color: var(--footer-color);
    background-color: var(--footer-background-color);
    height: calc(100vh - var(--nav-height));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  footer>section:not(.end) {
    padding-bottom: 0;
    margin: auto;
  }

  footer>.end {
    width: 100%;
    color: var(--footer-color);
    background-color: var(--footer-end-background-color);
    padding-bottom: 0;
  }

  footer>.end>.row>* {
    text-align: center;
    font-size: 0.8rem;
    padding: 0;
    margin-bottom: 1rem;
  }

  footer > section:not(.end) > .row {
    margin-bottom: 0;
  }

  /* VIEWPORT STYLES */

  @media screen and (min-width: 680px) {
    /* DESKTOP STYLES */

    footer>.end>.row>*:not(:last-child) {
      text-align: left;
    }

    footer>.end>.row>*:last-child {
      text-align: right;
    }

    /* WIDTH */

    footer>.end {
      padding-left: calc((100% - var(--container-width-680)) / 2);
      padding-right: calc((100% - var(--container-width-680)) / 2);
    }

    footer>.end>.row>* {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width : 1024px) {
    /* WIDTH */

    footer>.end {
      padding-left: calc((100% - var(--container-width-1024)) / 2);
      padding-right: calc((100% - var(--container-width-1024)) / 2);
    }
  }

  /*************
    GRID SYSTEM
   *************/

  .row {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .row>* {
    margin-bottom: 2rem;
  }

  .row.center {
    justify-content: center;
  }

  .row.right {
    justify-content: flex-end;
  }

  /* VIEWPORT STYLES */

  @media screen and (min-width: 680px) {
    /* DESKTOP STYLES */

    .row {
      flex-direction: row;
      padding-left: 0;
      padding-right: 0;
    }

    .row>* {
      margin-bottom: 0rem;
      padding: 1rem 1.5rem;
    }

    .row.one-col>* {
      width: 100%;
    }

    .row.two-col>* {
      width: 50%;
    }

    .row.three-col>* {
      width: 33.3333%;
    }

    .row.four-col>* {
      width: 25%;
    }

    .row.six-col>* {
      width: 16.6666%;
    }

    .row.twelve-col>* {
      width: 8.3333%;
    }

    .row.reversed {
      flex-direction: row-reverse;
    }

    .row>.cell-one {
      width: 8.3333%;
    }

    .row>.cell-two {
      width: 16.6666%;
    }

    .row>.cell-three {
      width: 25%;
    }

    .row>.cell-four {
      width: 33.3333%;
    }

    .row>.cell-five {
      width: 41.6666%;
    }

    .row>.cell-six {
      width: 50%;
    }

    .row>.cell-seven {
      width: 58.3333%;
    }

    .row>.cell-eight {
      width: 66.6666%;
    }

    .row>.cell-nine {
      width: 75%;
    }

    .row>.cell-ten {
      width: 83.3333%;
    }

    .row>.cell-eleven {
      width: 91.6666%;
    }

    .row>.cell-twelve {
      width: 100%;
    }

    .row>.cell-one {
      width: 8.3333%;
    }

    .row:not(.reversed)>*:first-child {
      padding-left: 0;
    }

    .row:not(.reversed)>*:last-child {
      padding-right: 0;
    }

    .row.reversed>*:first-child {
      padding-right: 0;
    }

    .row.reversed>*:last-child {
      padding-left: 0;
    }
  }

  /******************
    NO-SCRIPT STYLES
   ******************/

  /* adjust scrolling offset for links for nav height */
  .no-script a[id] {
    top: calc(-1 * var(--no-script-nav-contents-height));
  }

  .no-script>nav {
    height: var(--no-script-nav-contents-height);
    border-bottom: var(--nav-scrolled-border-bottom);
  }

  /* black out nav as transparent-to-opaque animation requires JS */
  .no-script > nav::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--nav-scrolled-background-color);
    z-index: -1;
  }

  .no-script>nav>.nav-contents {
    flex-direction: column;
    padding-top: 1rem;
  }

  .no-script>nav>.nav-contents>ul {
    top: 0;
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    max-height: fit-content;
    background-color: var(--nav-scrolled-background-color);
  }

  /* display nav links under main nav and hide hamburger menu button */
  .no-script>nav>.nav-contents>ul>li {
    width: auto;
    display: flex;
    align-items: center;
  }

  .no-script>nav>.nav-contents>ul>li>a,
  .no-script>nav>.nav-contents>.company-name>a {
    color: var(--nav-scrolled-color);
  }

  .no-script>nav>.nav-contents>ul>li>a {
    font-size: 1rem;
  }

  .no-script>nav>.nav-contents>.nav-mobile-menu-button {
    display: none;
  }

  .no-script section.here>.hero-card {
    margin-top: -4rem;
  }

  @media screen and (min-width: 680px) {

    .no-script a[id] {
      top: calc(-1 * var(--nav-height));
    }

    .no-script>nav>.nav-contents {
      flex-direction: row;
      padding-top: 0;
    }

    .no-script>nav>.nav-contents>ul {
      justify-content: flex-end;
    }
  }